a {
  position: relative;
  transition: 0.5s;
}
a:before, a:after {
  position: absolute;
  bottom: -2px;
  content: "";
  display: inline-block;
  width: 0;
  height: 2px;
  background: #F30034;
  transition: 0.5s;
}
a:before {
  left: 50%;
}
a:after {
  right: 50%;
}
a:hover {
  text-decoration: none;
}
a:hover:before, a:hover:after {
  width: 50%;
}

.private {
  display: none;
}

.private-inner {
  display: table-cell;
}

#privateTrigger {
  cursor: pointer;
}
#privateTrigger:hover:before, #privateTrigger:hover:after {
  width: 0;
}

.navigation {
  height: auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.fixed-bar {
  position: fixed;
  bottom: 0;
  margin: 0;
  height: 65px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  background: #fefefe;
}
.fixed-bar .container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 65px;
}

code {
  background: #364549 !important;
}

.sns-shares {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  right: 0;
}
.sns-shares .sns-share {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 56px;
  width: 56px;
  text-decoration: none;
}
.sns-shares .sns-share:hover:before, .sns-shares .sns-share:hover:after {
  width: 0;
}
.sns-shares .twitter-share .fa-twitter {
  font-size: 24px;
}
.sns-shares .fb-share .fa-facebook-f {
  font-size: 24px;
}
.sns-shares .hatena-share img {
  width: 32px;
}
.sns-shares .line-share img {
  width: 32px;
}

@media (max-width: 574px) {
  .navigation .container {
    padding: 0;
    text-align: center;
  }
  .navigation .container .navigation-title {
    display: block;
    width: 100%;
  }
  .navigation .container .navigation-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #ffffff;
  }
  .navigation .container .navigation-list .navigation-item {
    height: 48px;
    width: 50%;
    border-top: 1px solid #ffffff;
    background: #333333;
  }
  .navigation .container .navigation-list .navigation-item:nth-child(odd) {
    border-right: 1px solid #ffffff;
  }
  .navigation .container .navigation-list .navigation-item .navigation-link {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 48px;
    color: #ffffff;
  }
}
/* vBackground */
.chroma {
  color: #e3e3e3;
  background-color: #364549;
}

/* vError */
.chroma .err {
  color: #dddddd;
  border-bottom: 2px dotted #c01b1b;
}

/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  overflow: auto;
  display: block;
}

/* LineHighlight */
.chroma .hl {
  display: block;
  width: 100%;
  background-color: #ffffcc;
}

/* LineNumbersTable */
.chroma .lnt {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
}

/* LineNumbers */
.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
}

/* vKeyword */
.chroma .k {
  color: #ebd247;
}

/* KeywordConstant */
.chroma .kc {
  color: #ebd247;
}

/* KeywordDeclaration */
.chroma .kd {
  color: #ebd247;
}

/* vKeywordNamespace */
.chroma .kn {
  color: #ff8095;
}

/* KeywordPseudo */
.chroma .kp {
  color: #ebd247;
}

/* KeywordReserved */
.chroma .kr {
  color: #ebd247;
}

/* KeywordType */
.chroma .kt {
  color: #ebd247;
}

/* vNameAttribute */
.chroma .na {
  color: #8bdf4c;
}

/* NameClass */
.chroma .nc {
  color: #8bdf4c;
}

/* NameConstant */
.chroma .no {
  color: #ebd247;
}

/* NameDecorator */
.chroma .nd {
  color: #8bdf4c;
}

/* NameException */
.chroma .ne {
  color: #8bdf4c;
}

/* vNameFunction */
.chroma .nf {
  color: #8bdf4c;
}

/* NameOther */
.chroma .nx {
  color: #8bdf4c;
}

/* vNameTag */
.chroma .nt {
  color: #ff8095;
}

/* Literal */
.chroma .l {
  color: #a980f5;
}

/* LiteralDate */
.chroma .ld {
  color: #41b7d7;
}

/* LiteralString */
.chroma .s {
  color: #41b7d7;
}

/* LiteralStringAffix */
.chroma .sa {
  color: #41b7d7;
}

/* LiteralStringBacktick */
.chroma .sb {
  color: #41b7d7;
}

/* LiteralStringChar */
.chroma .sc {
  color: #41b7d7;
}

/* LiteralStringDelimiter */
.chroma .dl {
  color: #41b7d7;
}

/* LiteralStringDoc */
.chroma .sd {
  color: #41b7d7;
}

/* vLiteralStringDouble */
.chroma .s2 {
  color: #41b7d7;
}

/* LiteralStringEscape */
.chroma .se {
  color: #a980f5;
}

/* LiteralStringHeredoc */
.chroma .sh {
  color: #41b7d7;
}

/* LiteralStringInterpol */
.chroma .si {
  color: #41b7d7;
}

/* LiteralStringOther */
.chroma .sx {
  color: #41b7d7;
}

/* LiteralStringRegex */
.chroma .sr {
  color: #41b7d7;
}

/* LiteralStringSingle */
.chroma .s1 {
  color: #41b7d7;
}

/* LiteralStringSymbol */
.chroma .ss {
  color: #41b7d7;
}

/* LiteralNumber */
.chroma .m {
  color: #a980f5;
}

/* LiteralNumberBin */
.chroma .mb {
  color: #a980f5;
}

/* LiteralNumberFloat */
.chroma .mf {
  color: #a980f5;
}

/* LiteralNumberHex */
.chroma .mh {
  color: #a980f5;
}

/* vLiteralNumberInteger */
.chroma .mi {
  color: #a980f5;
}

/* LiteralNumberIntegerLong */
.chroma .il {
  color: #a980f5;
}

/* LiteralNumberOct */
.chroma .mo {
  color: #a980f5;
}

/* vOperator */
.chroma .o {
  color: #ff8095;
}

/* OperatorWord */
.chroma .ow {
  color: #ff8095;
}

/* vComment */
.chroma .c {
  color: #9dabae;
}

/* CommentHashbang */
.chroma .ch {
  color: #9dabae;
}

/* CommentMultiline */
.chroma .cm {
  color: #9dabae;
}

/* CommentSingle */
.chroma .c1 {
  color: #9dabae;
}

/* CommentSpecial */
.chroma .cs {
  color: #9dabae;
}

/* CommentPreproc */
.chroma .cp {
  color: #9dabae;
}

/* CommentPreprocFile */
.chroma .cpf {
  color: #9dabae;
}

/* GenericDeleted */
.chroma .gd {
  color: #ff8095;
}

/* GenericEmph */
.chroma .ge {
  font-style: italic;
}

/* GenericInserted */
.chroma .gi {
  color: #8bdf4c;
}

/* GenericStrong */
.chroma .gs {
  font-weight: bold;
}

/* GenericSubheading */
.chroma .gu {
  color: #9dabae;
}
